.container-fluid
{
    padding: 0px;
}
.carousel {
    height: 50%;
}

.img-fluid
{
    height: 90%;
    width: 100%;
}
 h5
 {
     color: black;
     font-weight: bolder;
 }

 #tarjetas
 {
     padding: 10px 20px;
 }

 #card1, #card2, #card3
 {
     height: 95%;
 }
 
 #card4, #card5
 {
    height: 100%;
 }

 h3
 {
     text-align: center;
     background: rgb(34, 
     34, 34);
     color: snow;
 }


#trabajos article div a img
{
    margin-top: 10px;
    height: 150px;
}

.form-group
{
    margin-left: 20px;
}

.form-control
{
    margin-bottom: 25px;
}

footer
{
    height: 10%;
    background: rgb(34, 
    34, 34);
    color: snow;
    border-top: 10%;
}

